<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            TinyApp :: The URL Shrinker.
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/urls/new">New URL</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>

  <!--           <% if(true){ %>
   <h1>foo</h1>
 <% } else{ %>
   <h1>bar</h1>
<% } %>
 -->

        </ul>



    </div>

</div>
</nav>