<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            TinyApp :: The URL Shrinker.
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

<% if (!user){ %>
        <form action="/login" method="POST">
            <label for="loginName"> Show Me What You Got: </label>
            <input id="loginName" type="text" name="loginName" style="width: 300px"/>
            <input type="submit" value="SIGN IN"/>
        </form>
    <% } else { %>

 <p>user: </p>
  <p>
  <%= user.email %>
  </p>
    <p>
    <form action="/logout" method="POST">
        <button>LOGOUT, <%= user.email %>
        </button>
    </form>
    </p>
<% } %>

    </div>

</div>
</nav>