<!-- views/partials/_header.ejs -->

    <li><a href="/">Home</a></li>

    <% if(user){ %>
    <h1>hello <%= user.email %></h1>
        <form action="/logout" method="POST">
            <button>LOGOUT, <%= user.email %></button>
        </form>

    <br />
    <br />
        <li><a href="/urls/new">New URL to squish?</a></li>
    <br />


    <% } else{ %>
    <h3> login yo self before ya wreck yo self</h1>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <% } %>