<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2018 -- The Caboose Club.</p>

<p class="text-center text-muted> All Rights Reserved --- I don't know why you would though.</p>