<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="shotURL">Enter a shortened URL:</label>
      <input id="shortURL" type="text" name="shortURL" placeholder="shortened URL <here>" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>