<html lang="en">
  <head>
    <title>TinyApp :: The URL Shrinker</title>
  </head>
<!-- should display a list of shortened URLS that you could edit -->
  <body style="font-size:20px;">

    <header>
      <% include ./partials/_headers %>
    </header>


    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">


        Short URL
        <%= shortURL %>





      <input id="longURL" type="text" name="longURL" value="<%= urlUserDb[shortURL] %>" style="width: 300px">
      <input type="submit" value="update">
    </form>
  </body>
</html>