<html lang="en">
  <head>Shortened URL Editor: </head>

<header>
    <% include ./partials/_headers %>
</header>

<!-- should display a list of shortened URLS that you could edit -->
  <body style="font-size:20px;">
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">


        Short URL
        <%= shortURL %>





      <input id="longURL" type="text" name="longURL" value="<%= urlUserDb[shortURL] %>" style="width: 300px">
      <input type="submit" value="update">
    </form>
  </body>
</html>