<html lang="en">
  <head>Shortened URL Editor: </head>

<header>
    <% include ./partials/_headers %>
</header>

<!-- should display a list of shortened URLS that you could edit -->
  <body style="font-size:20px; padding:50px;">
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="shortURL">Select a Shortened URL =></label>

        Short URL





      <input id="shortURL" type="text" name="longURL" placeholder="Long URL <here>" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>