<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp :: The URL Shrinker</title>
</head>

<header>
    <% include ./partials/_headers %>
</header>

<body>

  <h1>Tiny App :: Register</h1>

 <hr/>

  <ul>
    <li>

      <form method="POST" action="/register">

        <label for="email address"> Give me an email address to eat: </label> <br />


        <input id="eml" type="email" name="email">

        <br />

        <label for="password"> Secret password time: </label><br />
        <input id="pwd" type="password" name="password">

        <br />

        <input type="submit" value="register">

        <br />

      </form>

    </li>
  </ul>

  <hr/>


</body>
</html>