<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp :: The URL Shrinker</title>
</head>

<header>
    <% include ./partials/_headers %>
</header>

<body>

  <h1>The URL Shrinker</h1>

 <hr/>

<ul>
  <label>List of Current Shortened URLS</label>
    <% for (key in urlDatabase) {%>

    <li>
      <%= [key] %>&nbsp; <%= urlDatabase[key] %>
      <a href=/urls/<%= key %>>edit</a>
      <form method="POST" action="/urls/<%= [key] %>/delete">
        <input type="hidden" value="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% }%>
</ul>

<hr/>



</body>
</html>